.container
    max-width: 1180px
    margin: 0 auto
.header
    background-color: #445162
    .header_content
        display: flex
        justify-content: space-between
        padding-top: 50px
        padding-bottom: 50px
        .header_info
            .header_title
                text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3)
                font-family: Arial
                font-size: 59px
                color: white

                margin-bottom: 50px
            .header_text
                text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3)
                font-family: Arial
                font-size: 20px
                color: white
                .header_li:not()
                    margin-top
        .header_image
            width: 470px
            height: 214px

.middle
    .about
        .about_content
            display: flex
            justify-content: space-between
            padding-bottom: 50px
            padding-top: 50px
            .about_info
                max-width: 650px
                .about_title
                    font-family: Arial
                    font-size: 30px
                    color: #445161
                    padding-bottom: 30px
                    line-height: 1.2
                .about_text
                    font-family: Arial
                    font-size: 16px
                    color: #333333
                    padding-bottom: 20px
                    line-height: 1.5
            .about_image
                width: 430px
                height: 245px
    .pd
        background-color: #f5f5f5
        .pd_content
            padding-top: 50px
            padding-bottom: 50px
            .pd_title
                font-family: Arial
                font-size: 30px
                line-height: 1.2
                text-align: center
                color: #445161
                margin-bottom: 30px
            .pd_info
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .pd_part
                    display: flex
                    width: 49%
                    margin-bottom: 35px
                    .pd_image
                        width: 32px
                        height: 32px
                        margin-top: 9px
                        margin-right: 15px
                    .pd_text
                        font-family: Arial
                        font-size: 16px
                        line-height: 1.5
                        color: #333333
    .screenshots
        .screenshots_content
            padding-top: 50px
            padding-bottom: 50px
            .screenshots_title
                font-family: Arial
                font-size: 30px
                line-height: 1.2
                text-align: center
                color: #445161
                margin-bottom: 35px
            .screenshots_info
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .screenshots_part
                    display: flex
                    width: 49.5%
                    margin-bottom: 30px
                    .screenshots_image
                        height: 150px
                        width: 200px
                        margin-right: 15px
                    .screenshots_text-head
                        font-family: Arial
                        font-size: 24px
                        line-height: 1.25
                        color: #445161
                        margin-bottom: 15px
                    .screenshots_text
                        font-family: Arial
                        font-size: 16px
                        line-height: 1.5
                        color: #333333
    .reviews
        background-color: #f5f5f5
        .reviews_content
            padding-top: 50px
            padding-bottom: 50px
            .reviews_title
                margin-bottom: 30px
                font-family: Arial
                font-size: 30px
                line-height: 36px
                text-align: center
                color: #445161
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            .reviews_info
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                .reviews_part
                    display: flex
                    width: 47%
                    margin-bottom: 30px
                    .reviews_photo
                        margin-right: 16px
                        height: 64px
                    .reviews_block
                        background: #EBEBEB
                        border-radius: 5px
                        padding: 16px 10px 5px 15px
                        position: relative
                        color: #fff
                        &::after
                            content: ''
                            position: absolute
                            left: -38px
                            top: 38px
                            border: 24px solid transparent
                            border-right: 30px solid #EBEBEB
                        .reviews_text
                            font-family: Roboto
                            font-style: italic
                            font-size: 14px
                            line-height: 18px
                            color: #000000
                            margin-bottom: 5px
                        .reviews_PS
                            font-family: Roboto
                            font-style: italic
                            font-size: 14px
                            line-height: 18px
                            color: #989898
    .buy
        .buy_content
            padding-top: 50px
            padding-bottom: 50px
            .buy_title
                font-family: Arial
                font-size: 30px
                line-height: 36px
                color: #445161
                text-align: center
                margin-bottom: 26px
            .buy_info
                display: flex
                flex-direction: row
                justify-content: space-around
                align-items: flex-end
                .buy_part
                    width: 300px
                    background-color: #445161
                    border-radius: 5px
                    padding-bottom: 20px
                    .buy_price-head
                        font-family: Arial
                        font-size: 24px
                        line-height: 30px
                        color: #FFFFFF
                        text-align: center
                        margin-top: 14px
                        margin-bottom: 7px
                    .buy_prise
                        background-color: #fff
                        margin: 0 1px
                        font-family: Arial
                        font-size: 40px
                        line-height: 30px
                        color: #445162
                        text-align: center
                        padding-top: 25px
                        padding-bottom: 16px
                    .buy_list
                        list-style-type: decimal
                        list-style-position: inside
                        margin-left: 20px
                        margin-bottom: 16px
                        margin-top: 7px
                        .buy_text
                            font-family: Arial
                            font-size: 14px
                            line-height: 24px
                            color: #FFFFFF
                    .buy_button
                        display: block
                        border: none
                        outline: none
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                        background-color: #fff
                        border-radius: 4px
                        font-family: Arial
                        font-size: 18px
                        line-height: 18px
                        color: #445161
                        padding: 16px 112px 9px
                        position: relative
                        left: 50%
                        transform: translate(-50%, 0)
.footer
    background-color: #445162
    .footer_content
        padding-top: 50px
        padding-bottom: 50px
        .footer_title
            font-family: Arial
            font-size: 30px
            line-height: 36px
            text-align: center
            color: #FFFFFF
            margin-bottom: 43px
        .footer_info
            display: flex
            justify-content: center
            .footer_form
                width: 500px
                margin-right: 45px
                .vvod
                    display: block
                    width: 97%
                    padding: 0
                    padding-top: 12px
                    padding-bottom: 7px
                    padding-left: 12px
                    margin: 0
                    border: 0
                    border: none
                    border-radius: 4px
                    margin-bottom: 18px
                    font-family: Arial
                    font-size: 16px
                    line-height: 24px
                    color: #445162
                .textarea
                    display: block
                    width: 97%
                    resize: none
                    padding: 0
                    padding-top: 12px
                    padding-bottom: 138px
                    padding-left: 12px
                    margin: 0
                    border: 0
                    border: none
                    border-radius: 4px
                    margin-bottom: 18px
                    font-family: Arial
                    font-size: 16px
                    line-height: 24px
                    color: #445162
                .footer_button
                    display: block
                    border: none
                    outline: none
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
                    background-color: #fff
                    border-radius: 4px
                    font-family: Arial
                    font-weight: bold
                    font-size: 16px
                    line-height: 24px
                    text-transform: uppercase
                    color: #445162
                    padding: 16px 50px 9px
                    position: relative
                    left: 50%
                    transform: translate(-50%, 0)
            .footer_contacts
                .footer_list
                    font-family: Arial
                    font-size: 16px
                    line-height: 24px
                    color: #FFFFFF
                .footer_list i
                    margin-right: 10px
                .footer_li:not(:last-of-type)
                    margin-bottom: 20px
                .footer_part
                    margin-top: 47px
                    .footer_icon
                        color: #445162
                        text-decoration: none
                        font-size: 30px
                        background-color: #fff
                        border-radius: 50%
                        padding: 10px
                        display: inline-flex
                        align-items: center
                        justify-content: center
                    .footer_icon:not(:last-of-type)
                        margin-right: 3px
    .footer_copyright
        background-color: #fff
        text-align: center
        font-family: Arial
        font-size: 12px
        line-height: 24px
        letter-spacing: 0.3px
        color: #445162
        padding: 12px
